html, body {
    height: 100%;
}


body {
    display: flex;
    flex-direction: column;
    background: linear-gradient(to right, lightblue, lightgreen);
    background-size: auto 100%;
    box-sizing: border-box;
    overflow: auto;
}

p {
    margin-bottom: 20px;
}



.contentContainer {
    display:flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content:center;
    align-items:center;
    font-size: 30px;
    text-align: center;
    margin-top: 10px;
}

.btn-lg {
    padding: 20px 40px;
    font-size: 40px;
    border-radius: 10px;
}

.imgBtn {
    width: 25%;
    height: auto;
    margin: 0.3em;
}

.footer {
    text-align: center;
}

.qbtn {
    margin: 0.3em;
}